.main-list-games {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-games {
  width: 1200px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: justify;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    list-style: none;
    background-color: rgb(230, 231, 231);
    margin: 10px;
    line-height: 1px;
  }
}

@media (max-width: 425px) {
  .list-games {
    width: 400px;

    li {
      width: 300px;
    }

    img {
      width: 300px;
    }
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .list-games {
    width: 700px;
  }
}
